<!DOCTYPE html>
{% load static %}
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    </head>

    <body>
        <h1>Welcome to Login Page</h1>
        <h2>Log In</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="loginName">Username</label>
                <input type="text" class="form-control" name="loginName" id="loginName" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="loginPass">Password</label>
                <input type="password" class="form-control" name="loginPass" id="loginPass" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
        <div style="display:flex">
            <p>Not signed up yet? Click&nbsp;</p>
            <a href="{% url 'AuthSystem:signupPage' %}">here</a>
        </div>
   </body>
</html>