<!DOCTYPE html>
{% load static %}
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    </head>

    <body>
        <h1>Log Out</h1>
        <h2>hello {{user}}</h2>
        <p>Are you sure?</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="submit" value="Yes" class="form-control" name="logout">
            </div>
            <div class="form-group">
                <input type="submit" value="No" class="form-control" name="logout">
            </div>
        </form>
   </body>
</html>