<!DOCTYPE html>
{% load static %}
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    </head>

    <body>
        <h1>Sign Up</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="signupName">Username</label>
                <input type="text" class="form-control" name="signupName" id="signupName" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="signupEmail">Email</label>
                <input type="email" class="form-control" name="signupEmail" id="signupEmail" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="signupPass">Password</label>
                <input type="password" class="form-control" name="signupPass" id="signupPass" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
   </body>
</html>